{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
<div class="container">
  <div class="card mb-4 scripture-banner text-white">
    <div class="card-body text-center">
      <h3><i class="bi bi-mic"></i> Share a Prayer</h3>
      <p class="opacity-90">Let your voice be heard in the Unity Gospel community</p>
    </div>
  </div>

  <div class="card warm-shadow">
    <div class="card-body">
      <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.description) }}
        {{ wtf.form_field(form.file) }}
        <div class="row">
          <div class="col-md-6">{{ wtf.form_field(form.prayer_type) }}</div>
          <div class="col-md-6">{{ wtf.form_field(form.spiritual_focus) }}</div>
        </div>
        {{ wtf.form_field(form.scripture_reference) }}
        {{ wtf.form_field(form.church_service_date) }}
        {{ wtf.form_field(form.is_public) }}
        <div class="d-grid mt-3">
          {{ form.submit(class='btn btn-primary btn-lg') }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
